@charset "UTF8";



/* Todas as mídias */

/* Breakpoints responsivos

Celulares pequenos: até 575px
Celulares:          576px – 767px
Tablets:            768px – 991px
Notebooks:          992px – 1199px
Desktops:           1200px – 1399px
Telas grandes:      1400px ou mais

*/




@media screen and (min-width:992px) { /* computador */
    h1 {
        font-size: 60px;
        transition: width .3s, height .3s;
    }

    .conteiner {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        margin-top: 30px;
        flex-wrap: wrap;
        transition: width .3s, height .3s;
    }

    .caixa {
        width: 350px;
        height: 528px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.481);
        border: 1px solid black;
        background-color: var(--cor8);
        overflow: hidden;
    }

    .img-trabalho {
        width: 90%;
        height: 75%;
        margin: auto;
        margin-left: 8px;
        object-fit: cover;
        
    }
}