@charset "UTF8";


/* Todas as mídias */

/* Breakpoints responsivos

Celulares pequenos: até 575px
Celulares:          576px – 767px
Tablets:            768px – 991px
Notebooks:          992px – 1199px
Desktops:           1200px – 1399px
Telas grandes:      1400px ou mais

*/


    @media screen and (min-width:768px) and (max-width:991px) {
       

        .conteiner {
            display: flex;
            gap: 75px;
            justify-content: center;
            margin-bottom: 50px;
            margin-top: 75px;
            flex-wrap: wrap;
            transition: width .3s, height .3s;
        }

        .caixa {
            height: 415px;
            width: 250px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.49);
            text-align: center;
            background-color: var(--cor8);
            overflow: hidden;
        }

        .produto {
            width: 200px;
            height: 260px;
            border-radius: 10%;
            display: flex;
            margin: auto;
            object-fit: cover;
            object-position: top left;
            padding-right: 9px;
        }

        h3 {
            padding-top: 19px;
        }
    }



    @media screen and (min-width:992px) {
       

        .conteiner {
            display: flex;
            gap: 75px;
            justify-content: center;
            margin-bottom: 50px;
            margin-top: 75px;
            flex-wrap: wrap;
            transition: width .3s, height .3s;
        }

        .caixa {
            height: 415px;
            width: 250px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.49);
            text-align: center;
            background-color: var(--cor8);
            overflow: hidden;
        }

        .produto {
            width: 200px;
            height: 260px;
            border-radius: 10%;
            display: flex;
            margin: auto;
            object-fit: cover;
            object-position: top left;
            padding-right: 9px;
        }

        h3 {
            margin-top: 19px;
        }
    }